* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #020232;
  --primary-text: #ffffff;
}

body {
  background-color: var(--primary-color);
  color: var(--primary-text);
}

/* ------------ Dropdown Menu --------------- */
.dropdown{
  width: 100px;
  height: 40px;

  padding: 10px;
}
.dropdown-text{
  cursor: pointer;
}
.dropdown-items {
  color: var(--primary-color);
}
.menu-visible {
  height: auto;
  width: 100px;
  border: 1px solid gray;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-visible {
  border: 1px solid gray;
  width: 100%;
  color: white;
  text-align: center;
}

/* ------------------------------------------- */

/* Image Carousel */

.carousel{
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.frame{
  width: 800px;
  height: 500px;
  margin: 10px;
  border: 5px solid white;
  border-radius: 3%;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.slides{
  display: flex;
}